/* src/Register.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    animation: fadeIn 1s ease-in;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  .register-box {
    max-width: 600px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px); /* Optional: adds a subtle blur effect */
    text-align: center;
  }
  
  .register-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 900;
    color: white;
  }
  
  .register-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .register-input:focus {
    border-color: #ff9a9e;
    outline: none;
  }
  
  .register-button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #ff9a9e;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .register-button:hover {
    background-color: #f783ac;
  }
  
  .register-button:active {
    transform: scale(0.98);
  }
  
  .register-button.loading {
    background-color: #888;
    cursor: not-allowed;
  }
  